﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="settings.aspx.cs" Inherits="WCM_settings" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="lblUN" runat="server" Text="Label"></asp:Label>
        <br />
        <asp:Button ID="btnAddUser" runat="server" OnClick="btnAddUser_Click" Text="Add User" />
        <asp:Button ID="btnAddArticle" runat="server" OnClick="btnAddArticle_Click" Text="Add Article" />
        <asp:Button ID="btnEditArticle" runat="server" OnClick="btnEditArticle_Click" Text="Edit Articles" />
        <br />
    
    </div>
    </form>
</body>
</html>
